<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button @click="openForm"> Open Form</button>
        <h1>{{'Nilai a : '+ a}}</h1>
        <h1>{{'Nilai Rata-rata : '+ avg}}</h1>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            a:0,
            b:[],
            avg:0
        },
        methods:{
            openForm:function(){
                for(var i=0;i<4;i++){
                    var temp = prompt("Masukan Nilai a");
                    this.a = this.a + parseInt(temp) ;
                }
                this.avg = this.a/4;
            }
        }
    
    });
</script>
</body>
</html>