<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    {{ fullname }}
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    var vm = new Vue({
        el: "#app",
        data: {
            firstName : 'Tuanku',
            lastName : 'Imam Bonjol'
        },
        computed :{
            fullname : {
                get : function() {
                    return this.firstName+" "+this.lastName;
                },
                set : function(fullname) {
                    console.lo(fullname)
                },
            }
        }

    })
  </script>
</body>
</html>