<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        
        <form @submit.prevent=submitForm()>
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
            </p>
            <label>Name :</label><br>
            <input type="text" name="name" ref="nameTxt" v-model="name"><br>
            <label>Address :</label><br>
            <input type="text" name="address" ref="address" v-model="address"><br>
            <label>No Hp :</label><br>
            <input type="text" name="nohp" ref="nohp" v-model="nohp"><br>
            <br>

            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT" @click="submitForm()"><br>
                <input type="button" value="CANCEL" @click="clearForm()"><br>
            </div>

            <div v-else-if="buttonStatus == 'edit' ">
                <input type="button" value="UPDATE" @click="updateData(idEdit)"><br>
                <input type="button" value="CANCEL" @click="clearForm()"><br>
            </div>

            <div v-else-if="buttonStatus == 'upload' ">
                <input type="file" name="photo_profile" ref="photo_profile"><br>
                <input type="button" value="Upload Foto" @click="savePhoto(idEdit)"><br>
            </div>
        </form>

        <br>
        <member-component 
            :member="members" 
            @remove-member="removeMember"
            @edit-member="editMember"
            @upload-photo="uploadPhoto">
        </member-component>
                   
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        var memberTemplate = {
            template :`
            <div>
                <table border=1>
                    <tr v-for="member of member">
                        <td>
                            <img width="100" :src="member.photo_profile ? baseURL + member.photo_profile : 'https://dummyimage.com/300'" alt="">
                        </td>
                        <td>
                            <b>Name : </b> {{member.name}} <br>
                            <b>Address : </b> {{member.address}} <br>
                            <b>No HP : </b> {{member.no_hp}} <br>
                        </td>
                        <td>
                            <button @click="remove(member.id)">Hapus</button>
                            <button @click="edit(member)">Edit</button>
                            <button @click="upload(member)">Upload Photo</button>
                        </td>
                    </tr>
                </table>
            </div>
            `,
            data(){
                return{
                    pesan:"test asdasd",
                    baseURL:"http://demo-api-vue.sanbercloud.com/",
                }
            },
            props:['member'],
            methods:{
                remove:function(id){
                    this.$emit('remove-member',id);
                },
                edit:function(member){
                    this.$emit('edit-member',member);
                },
                upload:function(member){
                    this.$emit('upload-photo',member);
                }
            }
        }

        var vm = new Vue({
            el: "#app",
            components:{
                'member-component':memberTemplate
            },
            data: {
                errors:[],
                name:null,
                address:null,
                nohp:null,
                members:[],
                
                buttonStatus:"submit",
                idEdit:null,
            },
            methods :{
                getData:function(){
                    var that=this;
                    axios.get('http://demo-api-vue.sanbercloud.com/api/member')
                        .then(function (response) {
                            // handle success
                            that.members = response.data.members;
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                },
                validation:function(){
                    this.errors = [];
                    
                    if(this.name.length < 5){
                        this.errors.push('name minimal 5 karakter');
                        this.$refs.nameTxt.focus();
                    }
                    if(this.address.length < 5){
                        this.errors.push('address minimal 5 karakter');
                        this.$refs.address.focus();
                    }
                    if(this.nohp.length > 12){
                        this.errors.push('no hp maksimal karakter. contoh 082123412345');
                        this.$refs.nohp.focus();
                    }
                    
                },
                submitForm:function(){
                    var that = this;
                    this.validation();

                    if(this.errors.length === 0){

                        let formData = new FormData();
                        formData.append('name', this.name);
                        formData.append('address', this.address);
                        formData.append('no_hp', this.nohp);

                        const config = {
                            method:"POST",
                            url:"http://demo-api-vue.sanbercloud.com/api/member",
                            data:formData                            
                        }

                        axios(config)
                        .then(response=>{
                            that.getData();
                        })
                        .catch(err=>{
                            console.log(err);
                        })
                        
                        alert("Data Sudah diisi dengan benar")
                    }
                },
                removeMember:function(id){
                    
                    const config = {
                        method:"POST",
                        url:`http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params:{_method:"DELETE"}
                    }

                    axios(config)
                        .then(response=>{
                            this.getData();
                            
                        })
                        .catch(err=>{
                            console.log(err);
                        })

                },
                editMember:function(member){
                    this.buttonStatus = "edit";
                    this.name = member.name;
                    this.address = member.address;
                    this.nohp = member.no_hp;

                    this.idEdit = member.id;
                },
                updateData:function(id){
                    this.validation();

                    if(this.errors.length ===0){
                        let formData = new FormData();
                        formData.append('name', this.name);
                        formData.append('address', this.address);
                        formData.append('no_hp', this.nohp);

                        const config = {
                            method:"POST",
                            url:`http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params:{_method:"PUT"},
                            data:formData
                        }

                        axios(config)
                            .then(response=>{
                                this.clearForm();
                                this.getData();
                                
                            })
                            .catch(err=>{
                                console.log(err);
                            })
                    }
                   
                },
                clearForm:function(){
                    this.buttonStatus = "submit";
                    this.name = null;
                    this.address = null;
                    this.nohp = null;
                    this.idEdit = null;
                },
                uploadPhoto:function(member){
                    this.buttonStatus = "upload";
                    this.name = member.name;
                    this.address = member.address;
                    this.nohp = member.no_hp;

                    this.idEdit = member.id;
                },
                savePhoto:function(id){
                    let file = this.$refs.photo_profile.files[0];

                    let formData = new FormData();
                    formData.append('photo_profile', file);

                    const config = {
                        method:"POST",
                        url:`http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data:formData
                    }

                    axios(config)
                        .then(response=>{
                            this.clearForm();
                            this.getData();
                            
                        })
                        .catch(err=>{
                            console.log(err);
                        })

                }

            },
            created:function(){
                this.getData();
            }
    
        })
    </script>
</body>
</html>