<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        
            <input type="text" name="" id="nameTxt" v-model:value="name">
            <button id="btnAdd" v-on:click="addData" v-if="addVal">Add</button>
            <button id="btnAdd" v-on:click="updateData" v-else>Update</button>
       
            <div>
                <ul>
                    <li v-for="(item, index) in users">
                        {{ item.name }} <button v-on:click="editData(item.name,index)">Edit</button> <button v-on:click="hapusData(index)">Delete</button>
                    </li>
                </ul>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        function editData(){
            console.log("onclick");
        }
        var vm = new Vue({
            el: "#app",
            data: {
                indexGlobal:null,
                addVal:true,
                name:null,
                users:[
                    {'name' : 'Muhammad Iqbal Mubarok'},
                    {'name' : 'Ruby Purwanti'},
                    {'name' : 'Faqih Muhammad'},
                ],

            },
            methods :{
                addData:function(){
                    this.users.push({
                        'name' : this.name
                    });
                    this.name = null;
                },
                editData:function(name,index){
                    this.addVal = false;
                    this.name = name;
                    this.indexGlobal = index;
                    console.log(this.indexGlobal);
                },
                updateData:function(){
                    this.users[this.indexGlobal].name = this.name;
                    this.name = null;
                    this.addVal=true;
                },
                hapusData:function(index){
                    console.log()
                    this.users.splice(index,1);
                }
            },
            mounted:function(){
            }
    
        })
    </script>
</body>
</html>