<template>
  <div>
    <v-card v-if="blog.id">
        <v-img
            :src="blog.photo ? apiDomain + blog.photo : 'http://picsum.photos/200/300'"
            class="white--text"
            height="200px"
        >
            <v-card-title
            class="fill-height align-end"
            v-text="blog.title">
            </v-card-title>
        </v-img>

        <v-card-text>
            <v-simple-table dense>
                <tbody>
                    <tr>
                        <td>
                            <v-icon>mdi-format-title</v-icon> Judul
                        </td>
                        <td>{{blog.title}}</td>
                    </tr>
                    <tr>
                        <td><v-icon>mdi-note</v-icon> Deskripsi</td>
                        <td>
                            {{blog.description}}
                        </td>
                    </tr>
                </tbody>
            </v-simple-table>
        </v-card-text>

    </v-card>
  </div>
</template>

<script>
export default {
  data:()=>({
    apiDomain :'http://demo-api-vue.sanbercloud.com',
    blog:{},
  }),
  methods:{
      go(){
          var that = this;
          let id = this.$route.params.id;
          this.axios.get(`${this.apiDomain}/api/v2/blog/${id}`)
          .then(response=>{
              that.blog = response.data.blog;
              console.log(that.blog)
          })
      }
  },
  created(){
    this.go()
  }
};
</script>
