<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/blogs" class="blue--text">
        All Blogs <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <blog-item-component 
        v-for="blog in blogs" 
        :key="`blog-${blog.id}`"
        :blog="blog"></blog-item-component>
    </v-layout>

    <button @click="increment(5)">Tambah</button>
    {{tambah}}
  </v-container>
</template>

<script>
import BlogItemComponent from '../components/BlogItemComponent.vue';
import {mapGetters,mapMutations} from 'vuex'
export default {
  data:()=>({
    apiDomain :'http://demo-api-vue.sanbercloud.com',
    blogs:[],
  }),
  components:{
    'blog-item-component' : BlogItemComponent
  },
  computed:{
    // count(){
    //   return this.$store.getters.count
    // }
    ...mapGetters({
      'tambah' :'counter/count' //[nama model di file ini] : [nama fungsi di vuex store/index.js]
    })
  },
  methods:{
    go(){
      console.log(this.$store.state.count);
      const api = `${this.apiDomain}/api/v2/blog/random/4`;
      this.axios.get(api)
        .then(response=>{
        let {blogs} = response.data;
        this.blogs = blogs;
        })
    },
    // increment(payload){
    //   this.$store.commit('increment',payload);
    // }
    ...mapMutations({
      'increment':'counter/increment'
    })
  },
  created(){
    this.go();
  }
};
</script>

